{% extends "base.html" %}

{% block content %}

<div class="card p-4">

<h2>
{{ complaint["complaint_id"] }}
</h2>

<h4>
{{ complaint["title"] }}
</h4>

<hr>


<p>
<strong>Student:</strong>
{{ complaint["name"] }}
</p>


<p>
<strong>Category:</strong>
{{ complaint["category"] }}
</p>


<p>
<strong>Description:</strong>
{{ complaint["description"] }}
</p>


<p>
<strong>Location:</strong>
{{ complaint["location"] }}
</p>


<p>
<strong>Department:</strong>
{{ complaint["department"] }}
</p>


<p>
<strong>Priority:</strong>
{{ complaint["priority"] }}
</p>


<p>
<strong>Status:</strong>

<span class="badge bg-primary">

{{ complaint["status"] }}

</span>

</p>


<p>
<strong>Created:</strong>
{{ complaint["created_at"] }}
</p>


{% if complaint["resolution_note"] %}

<p>

<strong>Resolution:</strong>

{{ complaint["resolution_note"] }}

</p>

{% endif %}


{% if session["role"] == "admin" %}

<hr>

<h4>Update Complaint</h4>

<form
method="POST"
action="{{ url_for('update_status', id=complaint['id']) }}">


<select
name="status"
class="form-select mb-3">

<option>Pending</option>

<option>In Progress</option>

<option>Resolved</option>

</select>


<textarea
name="note"
class="form-control mb-3"
placeholder="Write resolution note...">
</textarea>


<button class="btn btn-success">

Update Status

</button>

</form>

{% endif %}


{% if complaint["status"] == "Resolved"
and session["role"] == "student"
and not feedback %}

<hr>

<h4>⭐ Give Feedback</h4>

<form
method="POST"
action="{{ url_for('feedback', id=complaint['id']) }}">


<select
name="rating"
class="form-select mb-3">

<option value="5">⭐⭐⭐⭐⭐ Excellent</option>

<option value="4">⭐⭐⭐⭐ Good</option>

<option value="3">⭐⭐⭐ Average</option>

<option value="2">⭐⭐ Poor</option>

<option value="1">⭐ Very Poor</option>

</select>


<textarea
name="comment"
class="form-control mb-3"
placeholder="Your feedback">
</textarea>


<button class="btn btn-primary">

Submit Feedback

</button>

</form>

{% endif %}

</div>

{% endblock %}
