{% extends "base.html" %}

{% block content %}

<h2>📊 Admin Dashboard</h2>

<div class="row mt-4">

<div class="col-md-3">

<div class="stat-card">

<h6>Total Complaints</h6>

<h2>{{ total }}</h2>

</div>

</div>


<div class="col-md-3">

<div class="stat-card">

<h6>Resolved</h6>

<h2>{{ resolved }}</h2>

</div>

</div>


<div class="col-md-3">

<div class="stat-card">

<h6>Pending</h6>

<h2>{{ pending }}</h2>

</div>

</div>


<div class="col-md-3">

<div class="stat-card">

<h6>In Progress</h6>

<h2>{{ in_progress }}</h2>

</div>

</div>

</div>


<div class="row mt-5">

<div class="col-md-6">

<div class="card p-4">

<h4>📌 Complaints by Category</h4>

{% for item in categories %}

<p>

{{ item["category"] }}

<strong class="float-end">

{{ item["total"] }}

</strong>

</p>

{% endfor %}

</div>

</div>


<div class="col-md-6">

<div class="card p-4">

<h4>📍 Problem Hotspots</h4>

{% for item in locations %}

<p>

{{ item["location"] }}

<strong class="float-end">

{{ item["total"] }}

</strong>

</p>

{% endfor %}

</div>

</div>

</div>

{% endblock %}
